<div style="display: flex">
  <img
    style="
      height: 110px;
      width: 110px;
      content: url('http://127.0.0.1:8000/static/admin/simpleui-x/img/logo.png');
    "
  />
  <div
    style="
      height: 110px;
      width: 1px;
      background-color: black;
      margin-right: 8px;
    "
  ></div>
  <div style="font-size: 14px; line-height: 20px">
    <div style="font-size: 18px; font-weight: 700; line-height: 24px">
      Embroidery Digitizing
    </div>
    <div>(+84) 44 444 3455</div>
    <div>263 Ngo Gia Tu, Ward 2 Distric 10, Ho Chi Minh city</div>
    <div>abcxyz@gmail.com</div>
    <div>Turn your idea to reality</div>
    <div
      style="
        display: flex;
        width: 200px;
        justify-content: baseline;
        display: inline;
      "
    >
      <!-- <a href="#messenger">
        <img
          style="
            height: 18px;
            width: 18px;
            content: url('http://127.0.0.1:8000/static/admin/simpleui-x/img/messenger.png');
          "
        />
      </a>
      <a href="#facebook">
        <img
          style="
            height: 18px;
            width: 18px;
            content: url('http://127.0.0.1:8000/static/admin/simpleui-x/img/facebook.png');
          "
        />
      </a>
      <a href="#instagram">
        <img
          style="
            height: 18px;
            width: 18px;
            content: url('http://127.0.0.1:8000/static/admin/simpleui-x/img/instagram.png');
          "
        />
      </a> -->
    </div>
  </div>
</div>
