.title-box {
  background: linear-gradient(to right, #f16849 0%, #ff9567 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-box {
  background: linear-gradient(to right, #f16849 0%, #ff9567 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flow-content-box {
  background: linear-gradient(to right, #f16849 0%, #ff9567 100%);
}

.contact-content-box {
  background: linear-gradient(to right, #f16849 -50%, #ff9567cc 20%);
}
.slide-ltr {
  position: static;
  transform: translateX(-25px);
  opacity: 0;
  display: hidden;
}

.slide-ltr-active {
  display: block;
  transform: translateX(0px);
  opacity: 1;
  transition: 1s all ease;
}

.slide-rtl {
  position: relative;
  transform: translateX(25px);
  opacity: 0;
  display: hidden;
}

.slide-rtl-active {
  display: block;
  transform: translateX(0px);
  opacity: 1;
  transition: 1s all ease;
}

.slide-ttb {
  position: relative;
  transform: translateY(-25px);
  opacity: 0;
  display: hidden;
}

.slide-ttb-active {
  display: block;
  transform: translateY(0px);
  opacity: 1;
  transition: 1s all ease;
}

.slide-btt {
  position: relative;
  transform: translateY(25px);
  opacity: 0;
  display: hidden;
}

.slide-btt-active {
  display: block;
  transform: translateY(0px);
  opacity: 1;
  transition: 1s all ease;
}

.show-slow {
  position: relative;
  opacity: 0;
}

.show-slow-active {
  display: block;
  opacity: 1;
  transition: 1s all ease;
}
